*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(Assests/desktop-background@2x.png);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    /* background-repeat: repeat-x; */
    position: relative;
}

nav{
    background-color: #f4f2e9 !important;
    height: 75px;
    justify-content: space-around;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.logo{
    margin-left: 17%;
}

.email{
    margin-left: auto;
}
.password{
    margin-right: 50px;
    margin-left: 30px;
}

.email,.password{
width: 110px;
    /* background-color: white; */
    font-size: 13px;
}

.email input,.password input{
/* height: 18px; */
padding: 5px;

}
nav ul li{
    margin: 13px;
    /* justify-content: center; */
}

.sign-in-btn{
    margin-right: 18%;
}

.sign-in-btn button{
    background-color: #382110;
    color: white;
    font-weight: normal;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 3px;
}

.sign-up{
    background-color: #F4F1EA;
    border-top: 1px solid #D8D8D8;
    height: 300px;
    width: 295px;
    position: absolute;
    right: 18%;
    /* width: 280px; */
    margin: 0px 8px 0 0;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    padding: 12px;
    font-size: 12px;
}

.sign-up input{
    margin: 0.3em;
    width: 260px;
    height: 32px;
}

.sign-up button{
    background-color: #382110;
    color: white;
    font-weight: normal;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 3px;
}

.caption{
    position: absolute;
    text-align: center;
    color: white;
    bottom: 24px;
    left: 30%;
    /* font-size: 16px; */
}

@media screen and (max-width: 999px){
    .sign-up{
        right: 1%;
    }
} 

.columns{
    display: flex;
    margin-right: auto;
    color: #00635D;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    padding: 0 24px;
}

.annual-awards{
color: #181818;
background-color: #f4f1ea;
margin: 24px 0;
padding: 32px 16px 20px 16px;
text-align: center;
line-height: 2em;
}

.columns ul{
    list-style: none;
    text-decoration: none;
}

.first-column li a, .second-column li a{
    text-decoration: none;
}

.first-column, .second-column{
    flex: 1;
    text-align: left;
}

/* .second-column{
    flex: 1;
    text-align: left;
} */

main{
    width: 1000px;
    margin: 15px auto;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    }

.annual-awards{
    flex: 1;
    padding: 32px 16px 20px 16px;
    margin: 25px;
    margin: 24px;
}

.annual-awards button{
    background-color: #ffd767;
    border: 1px solid #ffd767;
    color: #000;
    font-size: 15px;
    border-radius: 3px;
    padding: 12px 24px;
    margin: 20px;
}

.search-box{
    /* flex-wrap: wrap; */
    background-color: aquamarine;
    flex-direction: column;
}

main aside{
    line-height: 2em;
    display: block;
    /* display: flex; */
    padding: 15px;
    width: 30%;
}

aside img{
    width: 100%;
}

h5{
    font-opacity
}

aside .author-program{
    margin: 24px 0;
}

.contact-app{
    display: flex;
    /* flex: 30%; */
    justify-self: flex-end;
}

.contact-app a{
    padding: 0 10px
}

.contact-app img{
    width: 128px;
    height: 100%;
    display: block;
}

.ft-social-list{
    display: flex;
    justify-content: center;

}

footer{
    background: #f9f8f4;
    padding-bottom: 32px;
    padding-top: 32px;
    /* display: flex; */
}

footer a {
    text-decoration: none;
    color: #a2a19f;
}

.section1, .section2{
    display: flex;
    flex-grow: 1;
}
.section2{
    justify-content: flex-end;
}

.section1 .company{
    flex-basis: 33.3333%;
    /* flex-grow: 1; */
    flex-shrink: 0;
}
.section1 .work{
    flex-basis: 33.3333%;
    /* flex-grow: 1; */
    flex-shrink: 0;
}

.section1 .ft-social{
    flex-basis: 33.3333%;
    /* flex-grow: 1; */
    flex-shrink: 0;
}

.sign-using{
    position: absolute;
    bottom: 0;
    /* right: 0; */
    width: 273px;
    height: 42px;
    margin: 0 18px 0 0;
    vertical-align: middle;
    text-align: center;
    padding: 9px 5px;
    background: #c4a6a6;
    border-radius: 4px 4px 0 0;
    display: inline-block;

}

.sign-using img{
    width: 24px;
    vertical-align: center;
    margin: auto 1px;
}

.sign-using span{
    vertical-align: 18px;
    color: #fff;
    font-size: 14px;
}

.sign-using ul{
    list-style-type: none;
    display: inline-block;
    vertical-align: 0.7em;
}

.sign-using ul li {
    display: inline-block;
    
}
