@font-face{
    font-family: 'IndieFlower-Regular';
    src: url(Indie_Flower/IndieFlower-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'IndieFlower-Regular';
    font-size: 20px;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/806/259/793/aerial-air-aircraft-camera-wallpaper-preview.jpg);
    max-width: 100%;
    background-size: contain;
    contain: content;
    backdrop-filter: blur(4px);
}

li{
    list-style-type: none;
}

header{
    font-size: 2.2em;
    background-color: rgb(0, 0, 139, 0.8);
    color: honeydew;
}

h1{
    text-align: center;
}
h2{
    font-size: 2em;
    margin: 30px;
    color: crimson;
    display: flexbox;
    background-color: rgb(245, 222, 179, 0.5);
    text-align: center;
}

h3{
    width: 100%;
    font-size: 1em;
}

#grid-floats{
    justify-content: space-between;
    margin: auto;
}
.grid-item{
    width: 23%;
    margin: 10px;
    padding: 20px;
    float: left;
    /* border: 1px solid teal; */
    overflow-y: auto;
    height: 620px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1em;
    text-align: center;
    cursor: cell;
    transition: 1s;
    box-shadow: 2px 2px 10px skyblue;
}

.grid-item:hover{
    background-color: rgba(255, 255, 255, 0.7);
    /* font-size: 1.1em; */
    font-weight: bold;
    box-shadow: 3px 3px 10px #777;
}

.grid-item:nth-child(1) {
    width: 45%;
    max-width: 100%;
}

.grid-item:nth-child(1) img{
    width: 500px;
    /* margin: 30px 20% 30px 20%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img{
    width: 500px;
    max-width: 100%;
    /* height: auto; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 1s ease-in;
}
img:hover{
    /* transform: rotateX(360deg); */
    transform: rotateY(360deg);
}

section{
    margin: 50px 3%;
}

section:nth-child(1){
    margin-bottom: 35px;
}

section:nth-child(2){
    clear: both;
}

section #grid-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#grid-flex .grid-item:nth-child(1){
    flex: 45%;
}

section #grid-flex li{
    flex: 20%;
}

@media (max-width:1024px){
    body{
        font-size: 20px;
    }

    .grid-item{
        width: 30%;
        height: 450px;
    }

    .grid-item:nth-child(-n+2) {
        width: 46%;
        max-width: 100%;
    }

    img{
        width: 250px;
    }

    .grid-item:nth-child(-n+2) img{
        width: 350px;
        margin: 20px 1%;
    }
    #grid-flex .grid-item:nth-child(-n+2){
        flex: 45%;
    }
    section #grid-flex li{
        flex: 30%;
    }
}

@media (max-width: 600px){
    body{
        font-size: 16px;
    }

    .grid-item{
        width: 95%;
        height: 450px;
        /* max-width: 100%; */
    }

    .grid-item:nth-child(-n+2) {
        width: 95%;
        max-width: 100%;
    }

    img{
        width: 550px;
        max-width: 100%;
    }

    #grid-flex .grid-item:nth-child(-n+2){
        flex: 60%;
    }
    section #grid-flex li{
        flex: 60%;
        max-width: 100%;
    }
}
